.infoText {
    color: rgb(255, 255, 255);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 4vh;
    margin-bottom: 5vh;
    text-align: center;
}

#info {
    margin: 2vw;
    height: 100vh;
    width: 96vw;
}

#title {
    font-size: 6vh;
    text-align: center;
}