a{
    font-family: 'Sigmar One', cursive;
    color:white;
    font-size:4vh;
}
button {
    background-color:rgb(0, 0, 0);
    border:5px solid white;
    padding: 2vw;
}
#navBar, #game {
    float: left;
}
#video, button {
    float: left;
}
#game {
    width: 60vw;
    margin: 5%;
    padding-left:15vw;
}
#question {
    font-size: 5vh;
}